:root {
  --primary: rgb(240, 114, 114);
  --darker: rgb(168, 55, 55);
  --lighter: rgb(214, 133, 133);
}

.App h1 {
  text-align: center;
}

.editor-container {
  background: var(--primary);
  height: 25vh;
}

.editor-title {
  background: var(--darker);
  padding: 0.5rem;
}

.editor-title p {
  font-size: 1.5rem;
  margin: 0;
}

#editor {
  box-sizing: border-box;
  width: 100%;
  height: calc(100% - 2.5rem);
  resize: none;
}
